.logo
  align-items: center
  display: flex
  justify-content: space-between
  margin-left: 1em
  width: 130px

.logo img
  height: 55px
  width: 55px

.logo h1
  font-family: "Arapey", serif
  font-family: "Kalam", cursive
  font-family: "Prata", serif
  font-size: 25px

.menu
  align-items: center
  display: flex
  flex-direction: column
  height: 370px
  justify-content: space-evenly
  position: absolute
  right: 15px
  top: 10px
  width: 200px

.menu__item--visibility
  align-items: flex-end
  display: flex
  flex-direction: column
  height: 40px
  visibility: visible
  width: 100%

.menu__item__menu
  cursor: pointer
  height: 26px
  margin-right: 12px
  width: 26px

.menu__item__menu:hover
  background: rgba(46, 43, 43, 0.5490196078)
  border-radius: 10px
  margin-right: 0px
  padding: 1px 12px

.menu__item__menu:active
  background: rgba(46, 43, 43, 0.5882352941)
  border-radius: 9px
  height: 25.7px
  margin-right: 4px
  padding: 0.5px 7px
  width: 25.7px

.menu__opcao
  background: rgba(26, 25, 25, 0.5490196078)
  border-radius: 20px
  display: flex
  flex-direction: column
  height: 300px
  justify-content: space-evenly
  visibility: hidden
  width: 200px

.menu__opcao__item
  align-items: center
  display: flex
  flex-direction: column
  height: 50px
  justify-content: space-between
  margin: 10px 0
  text-align: center

.menu__opcao__item img
  cursor: pointer
  height: 23px
  width: 23px

.menu__opcao__item img:hover
  background: rgba(46, 43, 43, 0.5490196078)
  border-radius: 10px
  padding: 1px 8px

.menu__opcao__item h1
  cursor: pointer
  font-family: "Old Standard TT", serif

.menu__opcao__item h1:hover
  background: rgba(46, 43, 43, 0.5490196078)
  border-radius: 10px
  padding: 1px 8px
